<div class="container-geral">
    <p class="text-denounce">COMUNICAR DENÚNCIAS </p>
    <div class="container-denounce">
        <p class="header-title">LOCALIZAÇÃO</p>

        <div class="container-cep">
            <input class="input-denounce" type="text" placeholder="*CEP">
            <p class="text-denounce m">NÃO SEI MEU CEP</p>
        </div>

        <div class="container-address">
            <input class="input-denounce" type="text" placeholder="ENDEREÇO">
            <input class="input-denounce m" type="text" placeholder="*NÚMERO">
            <input class="input-denounce" type="text" placeholder="BAIRRO">
            <input class="input-denounce m" type="text" placeholder="COMPLEMENTO">
        </div>

        <div>
            <p class="header-title">DESCRIÇÃO</p>
            <input class="input-denounce g" type="text" placeholder="*DIGITE O OCORRIDO AQUI">

            <div>
                <input type="file" class="btn-view add-image" placeholder="ADICIONAR IMAGEM" accept="image/png, image/gif, image/jpeg">
                
            </div>
            <input class="input-denounce" type="text" placeholder="LINK PARA O VIDEO">
    
            <p class="text-denounce m">* INFORMAÇÕES OBRIGATÓRIAS</p>
        </div>

        <div class="container-btn"><button class="btn-view">REGISTRAR</button></div>

    </div>
</div>
<div class="container-full"></div>
