<div class = "container-geral">
    <div>
        <div class = "container-centro">
            <div class="container-text-centro">
                <p class = "text-title" >SUA VOZ IMPORTA</p><br>
                <p class = "text">FAÇA SUA PARTE NO COMBATE AOS MAUS TRATOS</p><br>
                <p class = "text" >FALE POR QUEM NÃO PODE FALAR</p><br>
            </div>
        </div>
        <div class = "container-info">
            <div class="container-options">
                <div class="circle-image"><img class="icon-image" src="../../../assets/register.png"></div>
                <div>
                    <p class = "text-title m" >COMUNICAR OCORRÊNCIA</p>
                    <p class = "text b">REGISTRE SUA DENÚNCIA DE FORMA</p>
                    <p class = "text b" >RÁPIDA E SEGURA</p>
                </div>
            </div>
            <div class="container-options">
                <div class="circle-image"><img class="icon-image" src="../../../assets/history.png"></div>
                <div>
                    <p class = "text-title m" >ACESSAR HISTÓRICO</p>
                    <p class = "text b">ACESSE SEU HISTÓRICO DE</p>
                    <p class = "text b" >DENÚNCIAS AQUI</p>
                </div>
            </div>
        </div>
        <div class="container-location">
            <p class = "text-title m" >LOCALIZAÇÃO DE DENÚNCIAS</p>
            <!-- <img src="../../../assets/localizacao.png"> -->
            <agm-map 
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false">

                <agm-marker 
                    *ngFor="let m of markers; let i = index"
                    (markerClick)="click(m)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label!">
                    <agm-info-window>
                    <strong>Informações da denúncia:</strong><br><br>
                    <p>{{m.descr}}</p><br>
                    <p>{{m.district}}</p><br>
                    <button class="btn-view" [routerLink]="['/history/view/', m.id]">VER MAIS</button><br>
                    </agm-info-window>
                    
                </agm-marker>
          </agm-map>
            <div class="box-btn"><button class = "btn-search" routerLink="/search" >BUSCAR DENÚNCIA</button></div>
        </div>
        <div class="container-coments">
            <div class="coment-1">
                <p class = "text b sub">NO BRASIL FORAM REGISTRADOS MAIS DE</p><br>
                <p class = "text-title m" >3 DENÚNCIAS POR DIA</p><br>
                <p class = "text b p-sub" >DE MAUS TRATOS ANIMAIS</p><br>
            </div>
            <div class="coment-2">
                <p class = "text b sub">MAUS TRATOS CONTRA OS ANIMAIS</p><br>
                <p class = "text b p-sub" >É O QUINTO CRIME</p><br>
                <p class = "text-title m" >MAIS COMETIDO NO BRASIL</p><br>
            </div>
        </div>
    </div>
</div>
