<div class="container-geral">
    <p class="text-denounce">HISTÓRICOS DE DENÚNCIAS </p>
    <div class="container-denounce">
        <div class="header-table">
            <p class="header-title">DATA</p>
            <p class="header-title">STATUS</p>
            <p></p>
        </div>
        <div class="table-denounce">
            <p class="info-table"> 12/12/2021 </p>
            <p class="info-table"> APROVADO </p>
            <button class="btn-view">VISUALIZAR</button>
        </div>
        <div class="table-line"></div>
    </div>
</div>
<div class="container-full"></div>
